<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>Admin - Dreamy Duo Designs</title>
        <%- include('./head') %>
    </head>

    <body>
        <%- include('./navbar') %>

        <main>
            <section class="clean-block clean-cart dark">
                <div class="container-fluid">
                    <div class="block-heading" style="padding-top: 25px;">
                        <h2 class="text-info">Admin Panel</h2>

                        <!-- Radio Button Group -->
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">

                            <input id="radio1" type="radio" class="btn-check" autocomplete="off" onclick="radioOrdersClick()" name="options-outlined"> 
                            <label id="radioOrders" class="btn btn-outline-primary active" for="radio1">Orders</label>

                            <input id="radio2" type="radio" class="btn-check" autocomplete="off" onclick="radioCodesClick()" name="options-outlined">
                            <label id="radioCodes" class="btn btn-outline-primary" for="radio2">Codes</label>

                            <input id="radio3" type="radio" class="btn-check" autocomplete="off" onclick="radioChartClick()" name="options-outlined">
                            <label id="radioChart" class="btn btn-outline-primary" for="radio3">Chart</label>
                            
                            <input id="radio5" type="radio" class="btn-check" autocomplete="off" onclick="radio_sale_click()" name="options-outlined">
                            <label id="radio_sale" class="btn btn-outline-primary" for="radio5">Sale</label>

                        </div>
                    </div>

                    <div class="row content">
                        <div class="col-md-12">
                            <!-- ORDERS -->
                            <div id="orders-items-outer" class="items w-100" style="padding: 0px;">
                                <!-- ORDERS SECTION -->
                                <div class="product">
                                    <div class="row product-image" style="padding: 15px 0px 15px 0px;">
                                        <br>
                                        <h4 style="text-align: center;">Customer Orders</h4>
                                        
                                        <p style="text-align: center;">Update the Status of Customer Orders</p>
                                        
                                        <!-- SEARCH DIV -->
                                    
                                        <div class="input-group mb-3" style="width: 96%; max-width: 600px;">
                                            
                                            <label id="inputSearchLabel" type="text"  style="align-self: center; margin-right: 15px;" >(0)</label>
                                            
                                            <!-- Search Dropdown -->
                                            <div class="dropdown">
                                                <button id="dropdown_search_limit" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" type="button" style="max-width: 150px; margin: 0px; padding: .5rem" >
                                                    25
                                                </button> 
                                                <div class="dropdown-menu">
                                                    <button value="25"  class="dropdown-item" type="button" onClick="update_dropdown_search_limit(event);" style="text-align: center;">25</button> 
                                                    <button value="50"  class="dropdown-item" type="button" onClick="update_dropdown_search_limit(event);" style="text-align: center;">50</button>
                                                    <button value="75"  class="dropdown-item" type="button" onClick="update_dropdown_search_limit(event);" style="text-align: center;">75</button> 
                                                    <button value="100" class="dropdown-item" type="button" onClick="update_dropdown_search_limit(event);" style="text-align: center;">100</button> 
                                                    <button value="150" class="dropdown-item" type="button" onClick="update_dropdown_search_limit(event);" style="text-align: center;">150</button>
                                                    <button value="200" class="dropdown-item" type="button" onClick="update_dropdown_search_limit(event);" style="text-align: center;">200</button> 
                                                    <button value="All" class="dropdown-item" type="button" onClick="update_dropdown_search_limit(event);" style="text-align: center;">All</button> 
                                                </div>
                                            </div>
                                            <!-- Search Bar -->
                                            <input id="inputSearchOrders" type="text" class="form-control" maxlength="100" placeholder="Search all orders" autocomplete="off">
                                            <!-- Search Button -->
                                            <button type="button" class="input-group-text" onClick="populateUserOrders();">Search</button>
                                        </div>
                                        
                                        
                                        <div id="orders-items" class="items">
            
                                            <!-- ORDERS -->
            
                                        </div>
                                            
                                    </div>
                                </div>
                            </div>
                            <!-- CODES -->
                            <div id="codes-items" class="items w-100" hidden style="padding: 0px;">

                                <!-- CODES -->
                                <div class="product">
                                    <div class="row product-image d-flex justify-content-between align-items-start" style="padding: 15px 0px 15px 0px;">  
                                        
                                        <h4 style="text-align: center;">Create or Get Access Codes</h4>
                                        <p style="text-align: center;">Share these codes with new customers to allow them to create an account</p>
                                                     
                                        <div class="col-md-6 product-info ">
                                            <div class="product-specs d-flex flex-column  align-items-center">

                                                <div style="padding: 0px 0px 15px 0px; text-align: center;">
                                                    <span>Description</span>
                                                    <br>
                                                    <span class="value">Access Code is used for a user to register their account
                                                    </span>
                                                </div>
                                                <div style="padding: 0px 0px 15px 0px; text-align: center;">
                                                    <button type="button" class="btn btn-primary rounded-pill" onClick="generateAccessCodes()"  >Generate Codes</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 product-info">
                                            <div class="product-specs d-flex flex-column  align-items-center">
                                                <div style="padding: 0px 0px 15px 0px; text-align: center;">
                                                    <span>Active Access Codes</span>
                                                    <br>
                                                    <textarea readonly class="form-control" id="activeAccessCodes" rows="10" style="text-align: center;"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- CHART -->
                            <div id="chart-items" class="items w-100" hidden style="padding: 0px;">
                                <!-- CHART -->
                                <div class="product">
                                    <div class="row product-image d-flex justify-content-between align-items-start" style="padding: 15px 0px 15px 0px;">
                                        <h4 style="text-align: center;">What items to make?</h4>
                                        <p style="text-align: center;">This table shows what items customers have ordered</p>

                                        <div class="col-md-12 product-info">
                                            <div class="d-flex flex-column  align-items-center" style="padding: 0px 0px 15px 0px; text-align: center;">
                                                <br>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th style="font-weight: normal; font-size: smaller;">Item</th>
                                                            <th style="font-weight: normal; font-size: smaller">Payment Required</th>
                                                            <th style="font-weight: normal; font-size: smaller">Payment Recieved</th>
                                                            <th style="font-weight: normal; font-size: smaller">Ready for Pickup</th>
                                                            <th style="font-weight: normal; font-size: smaller">Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="chartTable" style="font-weight: normal;" >
                                                        <!-- <tr>
                                                            <td class="table"> ... </td>
                                                            <td class="table-danger"  >0</td>
                                                            <td class="table-primary" >0</td>
                                                            <td>0</td>
                                                        </tr> -->
                                                    </tbody>
                                                </table>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- SALE -->
                            <div id="sale-items" class="items w-100" hidden style="padding: 0px;">
                                <!-- SALE -->
                                <div class="product">
                                    <div class="row product-image d-flex justify-content-between align-items-start" style="padding: 15px 0px 15px 0px;">  
                                        <!--- Start / End Sale Div -->
                                        <h4 class='mb-3' style="text-align: center;">Configure Sale Settings</h4>
                                        <div style="border: 2px solid #f0f0f0; max-width: 500px; margin: auto; padding: 15px;">
                                            <div class="mb-3">
                                                <h6 class="mb-3"><b>Start Sale</b></h6>
                                                <div class="input-group mb-3">
                                                    <label style='margin: auto 1rem auto 0px;' >Date</label>
                                                    <input id='input_start_date' style='margin: auto auto auto 0px;' type="date" autocomplete="off" onchange="validate_date_inputs()" >
                                                </div>
                                                <div class="input-group ">
                                                    <label style='margin: auto .90rem auto 0px;' >Time</label>
                                                    <input id='input_start_time' style='margin: auto auto auto 0px;' type="time" autocomplete="off" onchange="validate_date_inputs()">
                                                    <label id='label_start_result' style='margin: auto 0px auto auto;' ></label>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <h6 class="mb-3"><b>End Sale</b></h6>
                                                <div class="input-group mb-3">
                                                    <label style='margin: auto 1rem auto 0px;' >Date</label>
                                                    <input id='input_end_date' style='margin: auto auto auto 0px;' type="date" autocomplete="off" onchange="validate_date_inputs()">
                                                </div>
                                                <div class="input-group">
                                                    <label style='margin: auto .90rem auto 0px;' >Time</label>
                                                    <input id='input_end_time' style='margin: auto auto auto 0px;' type="time" autocomplete="off" onchange="validate_date_inputs()">
                                                    <label id='label_end_result' style='margin: auto 0px auto auto;' ></label>
                                                </div>
                                            </div>
                                            <button id='button_update_sale_times' type="button" class="btn btn-primary rounded-pill" disabled onclick="admin_set_sale_times()">Update Sale Times</button>
                                        </div>
                                        <!--- END Start / End Sale Div -->
                                        
                                        <hr style="margin-top: 2rem; margin-bottom: 2rem;">

                                        <!--- Manage Shirts Div -->
                                        <h4 class='mb-3' style="text-align: center;">Manage Shirts</h4>
                                        <div class="container">
                                            <div class="table-responsive" style="text-align: center;">
                                                <table id='table_shirts' class="table table-bordered table-sm ">
                                                    <thead>
                                                        <tr>
                                                            <th style="font-weight: normal;">   </th>
                                                            <th style="font-weight: normal;">Product Name</th>
                                                            <th style="font-weight: normal;">Style</th>
                                                            <th style="font-weight: normal;">Color</th>
                                                            <th style="font-weight: normal;">Size</th>
                                                            <th style="font-weight: normal;">Discount</th>
                                                            <th style="font-weight: normal;">Price</th>
                                                            <th style="font-weight: normal;">Stock</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody id='table_shirts_body' style="font-weight: normal;" >
                                                        <!-- Rows -->


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <button id='button_table_shirts_add_row' type="button" class="btn btn-primary rounded-pill" style='margin: auto auto auto 0px;' onclick="button_table_shirts_add_row()">+</button>
                                            <button id='button_table_shirts_apply_changes' type="button" class="btn btn-primary rounded-pill" style='margin: auto 0px auto auto;' disabled onclick="admin_set_table_shirts()">Apply Changes</button>    
                                        </div>
                                        <!--- END Manage Shirts Div -->

                                        <hr style="margin-top: 2rem; margin-bottom: 2rem;">

                                        <!--- Manage Menu Div -->
                                        <h4 class='mb-3' style="text-align: center;">Manage Menu</h4>
                                        <div class="container">
                                            <div class="table-responsive" style="text-align: center;">
                                                <table id='table_menu' class="table table-bordered table-sm ">
                                                    <thead>
                                                        <tr>
                                                            <th style="font-weight: normal;">   </th>
                                                            <th style="font-weight: normal;">Name</th>
                                                            <th style="font-weight: normal;">Price</th>
                                                            <!-- <th style="font-weight: normal;">Description</th> -->
                                                        </tr>
                                                    </thead>
                                                    <tbody id='table_body' style="font-weight: normal;" >
                                                        <!-- Rows -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <button id='button_menu_add_row' type="button" class="btn btn-primary rounded-pill" style='margin: auto auto auto 0px;' onclick="button_menu_add_row()">+</button>
                                            <button id='button_update_menu' type="button" class="btn btn-primary rounded-pill" style='margin: auto 0px auto auto;' disabled onclick="admin_set_menu()">Apply Changes</button>    
                                        </div>
                                        <!--- END Manage Menu Div -->

                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </section>
        </main>
        
        <%- include('./modal') %>

        <%- include('./footer') %>

        <script type="text/javascript" src="../javascripts/admin.js?v=1.2.10"></script>

    </body>
</html>