<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>Checkout - Dreamy Duo Designs</title>
        <%- include('./head') %>

    </head>

<body>
    <%- include('./navbar') %>

    <main class="page shopping-cart-page">
        <section class="clean-block clean-cart">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Check Out</h2>
                    <p id="pMessage">Oops, you don't have any items in your cart!</p>
                </div>
                <div class="content">
                    <div class="row g-0">
                        <div class="col-md-12 col-lg-12">
                            <div id="cart-items" class="items">

                                <!--
                                    ITEMS ...
                                -->


                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="summary">

                                <h3>Payment</h3>

                                <h4><span class="text">Payment Method</span>
                                    <span class="price" style="margin-top: 0rem;">
                                        <div class="dropdown">
                                            <button id="dropdown_payment_method" class="btn btn-primary btn-sm rounded-pill dropdown-toggle" data-bs-toggle="dropdown" type="button" style="max-width: 150px; margin: 0px; padding: .5rem" >
                                                Select
                                            </button> 
                                            <div class="dropdown-menu">
                                                <button value="Cash"   class="dropdown-item" type="button" onClick="dropdown_update_payment_method(event);" style="margin-top: 0rem; font-weight: normal; font-size: medium; padding: 1rem; text-align: center;">Cash</button> 
                                                <button value="Stripe" class="dropdown-item" type="button" onClick="dropdown_update_payment_method(event);" style="margin-top: 0rem; font-weight: normal; font-size: medium; padding: 1rem; text-align: center;">Stripe</button> 
                                            </div>
                                        </div>
                                    </span>
                                </h4> 
                                <br>
                        
                                <h3>Summary</h3>
                                <h4><span class="text">Subtotal</span><span id="summary-subtotal"   class="price">$0</span></h4>
                                <!-- <h4><span class="text">Discount</span><span id="summary-discount"   class="price">$0</span></h4> -->
                                <!-- <h4><span class="text">Shipping</span><span id="summary-shipping"   class="price">$0</span></h4> -->
                                <h4><span class="text">Total</span>   <span id="summary-total"      class="price">$0</span></h4>
                                <!-- <form action="/create_checkout_session" method="POST">
                                    <button type="submit" id="buttonPlaceOrder2" class="btn btn-primary btn-lg d-block w-100">Checkout (Stripe)</button>
                                </form> -->
                                <a id="buttonPlaceOrder" class="btn btn-primary btn-lg d-block w-100 disabled" type="button" onClick="user_place_order()">Place your order</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <%- include('./footer') %>

    <script type="text/javascript" src="../javascripts/checkout.js?v=1.0.0"></script>
    
</body>

</html>