<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Forgot Password - Dreamy Duo Designs</title>
    <%- include('./head') %>
</head>

<body>

  <%- include('./navbarLoggedOut') %>

  <main class="page login-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Forgot Password</h2>
                <p id="directionsLabel">Enter your information to proceed</p>
            </div>
            <form>
                <div id="emailDiv" class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control item" name="email" type="email" id="inputEmail" maxlength="100" autocomplete="off" required>
                </div>

                <div id="verifyDiv" class="mb-3" hidden="true">
                    <label class="form-label" for="code">Verifcation Code</label>
                    <input class="form-control" name="code" type="code" id="inputCode" maxlength="30" autocomplete="off" required>
                </div>
                <button id="buttonRequestCode"  type="button" class="btn btn-primary" onclick="forgotPassword()">Request Verification Code</button>
                
                <div id="newPasswordDiv" hidden='true'>
                    <label class="form-label" for="password">New Password</label>
                    <div   class="input-group mb-3"  >
                        <input id="inputPassword" type="password" class="form-control" maxlength="100" autocomplete="off" required>
                        <button type="button" class="input-group-text" id="toggle-password">Show</button>
                    </div>
                </div>


                <button id="buttonNewPassword"  type="button" class="btn btn-primary" onclick="updatePassword()" hidden >Submit</button>
                <br><br>
                <a href="/login">Sign in</a>
            </form>
        </div>
    </section>
</main>




    <%- include('./footer_logged_out') %>
    <script type="text/javascript" src="../javascripts/forgot-password.js?v=1.0.2"></script>
</body>
</html>
