
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dreamy Duo Designs</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../fonts/simple-line-icons.min.css">

    <!-- Socials CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" href="../stylesheets/socials_shapes.css"> deleted file --> 
    <link rel="stylesheet" href="../stylesheets/socials.css">

    <link rel="shortcut icon" href="../images/favicon.ico">
