<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Help Desk - Dreamy Duo Designs</title>
    <%- include('./head') %>
</head>

<body>

  <%- include('./navbar') %>

<main class="page login-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Help Desk</h2>
                <p>Fill out your comments or questions below, and recieve support</p>
            </div>
            <form>
                <div class="mb-3">
                    <label class="form-label" for="email">Order ID</label>
                    <input class="form-control item" type="text" maxlength="30" id="inputOrderId" autocomplete="off" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Description</label>
                    <textarea class="form-control" id="inputDescription" rows="10" maxlength="1250" placeholder="Brief description"></textarea>
                </div>
                <br>
                <button id="buttonSubmit" type="button" class="btn btn-primary" onclick="sendHelp()">Submit</button>
            </form>
        </div>
    </section>
</main>
  
  <%- include('./footer') %>
  <script type="text/javascript" src="../javascripts/help.js?v=1.0.2"></script>
</body>
</html>
