<!-- Main Navbar -->
<nav class="navbar navbar-light navbar-expand-md fixed-top bg-white clean-navbar">
    <div class="container" style="display: flex; flex-direction: row; align-content: normal;">

        <!-- Brand Link -->
        <a class="navbar-brand" href="/">
            <img src="../images/DDD.png" class="img-fluid" alt="Responsive image" style="height: 36px;" >
        </a>

        <!-- Brand Link -->
        <!-- <div>
            <a class="navbar-brand ml-auto" href="/">Dreamy Duo Designs</a>
        </div> -->

        <!-- Collapse Button -->
        <div>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!-- Links -->
        <div class="collapse navbar-collapse mr-auto" id="navcol-1" style="text-align: center;">
            <ul class="navbar-nav ">
                <li class="nav-item"><a class="nav-link" href="/account">Account</a></li>
                <li class="nav-item"><a class="nav-link" href="/orders">Orders</a></li>
                <li class="nav-item"><a class="nav-link" href="/shirts">Shirts</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="/rewards">Rewards</a></li> -->
                <li class="nav-item"><a class="nav-link" href="/login">Sign Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main Navbar White Space -->
<div style="height: 3rem;"></div>

<!-- account attributes -->
<div hidden id='div_account_attributes' data-account_attributes="<%= JSON.stringify(account_attributes); %>"></div>

<!-- Birthday -->
<!-- <nav class="navbar bg-success navbar-expand-md " style="color: white;">
    <div class="container" style="display: flex; justify-content: center;">
        <h6 style="font-size: .95rem;">🔥🥳 BIRTHDAY SALE DEALS 🥳🔥</h6>
    </div>
</nav> -->

<!-- Pre Order Timer -->
<nav hidden id='preorderNavbar' class="navbar bg-primary navbar-expand-md " style="color: white;">
    <div class="container" style="display: flex; justify-content: center;">
        <!-- Pre Order Timer Text -->
        <h6 style="font-size: .95rem;" id="preorderTimer"></h6>
    </div>
</nav>

<!-- Pre Order Timer2 -->
<nav hidden id='preorderNavbar2' class="navbar bg-dark navbar-expand-md " style="color: white;">
    <div class="container" style="display: flex; justify-content: center;">
        <!-- Pre Order Timer2 Text -->
        <h6 style="font-size: .95rem;" id="preorderTimer2"></h6>
    </div>
</nav>

<!-- Error -->
<nav hidden id='errorNavbar' class="navbar bg-warning navbar-expand-md " style="color: white;">
    <div class="container" style="display: flex; justify-content: center;">
        <!-- Error Text -->
        <h6 id="errorTimer" style="font-size: .95rem;"><a style="color:Black;" href="/account">Action Required: Verify Email</a></h6>
    </div>
</nav>

<!-- Name & Cart -->
<nav class="navbar navbar-expand-md " style="background-color: white; padding: .5rem;">
    <div class="container" style="display: flex; flex-direction: row; align-content: normal;">

        <p style="font-size: smaller; padding-top: 1rem;">Welcome, <b><%= account_attributes.name; %></b></p>

        <!-- Cart Button -->
        <a href="/checkout">
            <button type="button" class="btn btn-primary  rounded-pill ">
                <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" style="width: 24px; height: 24px;">
                    <path d="M3 3H5L5.4 5M7 13H17L21 5H5.4M7 13L5.4 5M7 13L4.70711 15.2929C4.07714 15.9229 4.52331 17 5.41421 17H17M17 17C15.8954 17 15 17.8954 15 19C15 20.1046 15.8954 21 17 21C18.1046 21 19 20.1046 19 19C19 17.8954 18.1046 17 17 17ZM9 19C9 20.1046 8.10457 21 7 21C5.89543 21 5 20.1046 5 19C5 17.8954 5.89543 17 7 17C8.10457 17 9 17.8954 9 19Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span id="cart-quantity"  data-quantity="<%= account_attributes.cart[0][1]; %>" class="badge bg-light" style="color:black;" ><%= account_attributes.cart[0][1]; %></span>
            </button>
        </a>
    </div>
</nav>

<style>
    .navbar
    {
        padding-top: .5rem;
        padding-bottom: 0rem;
    }
</style>