<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Product - Dreamy Duo Designs</title>
    <%- include('./head') %>
</head>

<body>
    
<%- include('./navbar') %>
<!-- <br><br><br><br><br> -->

<!-- account attributes -->
<div hidden id='div_shirt_properties' data-shirt_properties="<%= JSON.stringify(array_objects_shirts); %>"></div>


<div class="container" style="max-width: none;">

    <section>

        <div class="row row-cols-1 row-cols-md-2 mb-3 text-center" style="background-color: rgba(0,0,0,.03);">
            
        <div class="col">
            <div name="card" class="card w-100 d-flex align-items-start flex-column " >
        
                <!-- <div class="card-header" style="width: 100%; height: 60px;">
                    <h6 class="card-title" style="font-size: small;"></h6>
                </div> -->

                <!-- <img class="w-100" src="../images/shirt.jpg" alt="..." loading="lazy"  style="display: block; height: auto; max-height: 500px; max-width: 500px; margin: auto;"> -->

                <div id="carouselExampleSlidesOnly" class="carousel slide" style="display: block; max-width: 495px;  margin: auto;" data-bs-ride="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../images/shirt_0.jpg" class="d-block w-100" style="max-width: 495px; max-height: 495px;" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../images/shirt_1.jpg" class="d-block w-100" style="max-width: 495px; max-height: 495px;" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../images/shirt_2.jpg" class="d-block w-100" style="max-width: 495px; max-height: 495px;" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../images/shirt_3.jpg" class="d-block w-100" style="max-width: 495px; max-height: 495px;" alt="...">
                        </div>
                    </div>
                </div>


                <div style="padding: .5rem .5rem; margin: auto;">
                    <!-- <p class="card-text" style="font-size: small;" >(%{stock}) in stock</p> -->
                    <div class="row row-cols-4">
                        <div class="col">
                                <img class="card-img-top" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="0" src="../images/shirt_0.jpg" style="border-radius: 0%; max-width: 99px; max-height: 99px;" alt="..." loading="lazy" >
                        </div>
                        <div class="col">
                                <img class="card-img-top" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="1" src="../images/shirt_1.jpg" style="border-radius: 0%; max-width: 99px; max-height: 99px;" alt="..." loading="lazy" >
                        </div>

                        <div class="col">
                                <img class="card-img-top" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="2" src="../images/shirt_2.jpg" style="border-radius: 0%; max-width: 99px; max-height: 99px;" alt="..." loading="lazy" >
                        </div>

                        <div class="col">
                                <img class="card-img-top" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="3" src="../images/shirt_3.jpg" style="border-radius: 0%; max-width: 99px; max-height: 99px;" alt="..." loading="lazy" >
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col" >
            <div class="card mb-4 rounded-3 shadow-sm w-100">
                <div class="card-header py-3">
                    <!-- <h1 class="my-0 fw-normal"><b>${name}</b></h1> -->
                    <h1 class="my-0 fw-normal"><b><%=array_objects_shirts[0].string_name;%></b></h1>
                </div>
                <div class="card-body">
                    <!-- <h6 class="card-title pricing-card-title">$${price.toFixed(2)}</h6> -->
                    <h2 class="card-title pricing-card-title"><b>$<%=array_objects_shirts[0].decimal_price;%></b> <s>$30.00</s></h2>

                    <br>
                    <h6>Product</h6>
                    <!-- Product Radio Button Group -->
                    <div id="div_product_radio_button_group" class="btn-group btn-group-toggle" data-toggle="buttons">

                        <!-- <input id="radio_product_1" type="radio" class="btn-check" autocomplete="off" onclick="button_click_product(event)" value="T-Shirt" label_id="radio_t-shirt" name="options-outlined"> 
                        <label id="radio_t-shirt" class="btn btn-outline-primary active" for="radio_product_1" style="min-width: 68px;">T-Shirt</label>

                        <input id="radio_product_2" type="radio" class="btn-check" autocomplete="off" onclick="button_click_product(event)" value="Long Sleeve" label_id="radio_long_sleeve" name="options-outlined">
                        <label id="radio_long_sleeve" class="btn btn-outline-primary" for="radio_product_2" style="min-width: 68px;">Long Sleeve</label>

                        <input id="radio_product_3" type="radio" class="btn-check" autocomplete="off" onclick="button_click_product(event)" value="Sweatshirt" label_id="radio_sweatshirt" name="options-outlined">
                        <label id="radio_sweatshirt" class="btn btn-outline-primary" for="radio_product_3" style="min-width: 68px;">Sweatshirt</label> -->

                    </div>

                    <!-- <button name="shop-item-button" class="btn-sm btn-outline-primary rounded-pill"    style="background-color: transparent; margin: 6px 6px 0px 6px;" type="button" onclick="button_click_product(event)">T-Shirt</button>
                    <button name="shop-item-button" class="btn-sm btn-primary rounded-pill" style="margin: 6px 6px 0px 6px;" type="button" onclick="button_click_product(event)">Long Sleeve</button>
                    <button name="shop-item-button" class="btn-sm btn-primary rounded-pill" style="margin: 6px 6px 0px 6px;" type="button" onclick="button_click_product(event)">Sweatshirt</button> -->
                    <br><br>

                    <h6>Style</h6>
                    <!-- Style Radio Button Group -->
                    <div id="div_style_radio_button_group" class="btn-group btn-group-toggle" data-toggle="buttons">

                    </div>

                    <br><br>
                    <h6>Size</h6>
                    <!-- Radio Button Group -->
                    <div id="div_size_radio_button_group" class="btn-group btn-group-toggle" data-toggle="buttons">

                    </div>

                    <br><br>
                    <h6>Color</h6>
                    <!-- Radio Button Group -->
                    <div id="div_color_radio_button_group" class="btn-group btn-group-toggle" data-toggle="buttons">

                    </div>
                    <br><br>

                    <hr>

                    <button id="button_add_to_cart" name="shop-item-button" class="btn btn-outline-dark rounded-pill disabled" type="button" style="width: 100%;" onclick="button_click_add_to_cart()">Add to cart</button>
                </div>
            </div>
        </div>


        </div>

        <br>
    </section>

    <%- include('./modal') %>
</div>

<%- include('./footer') %>

<script type="text/javascript" src="../javascripts/product.js?v=1.0.0"></script>
<script type="text/javascript" src="../javascripts/welcomepopup.js?v=1.0"></script>
</body>

</html>