<!DOCTYPE html>
<html lang="en-us">

  <head>
    <title>Create Account - Dreamy Duo Designs</title>
    <%- include('./head') %>
</head>

<body>
  <%- include('./navbarLoggedOut') %>

  <main class="page registration-page">
    <section class="clean-block clean-form dark">
        <div class="container">
          <div class="block-heading">
            <h2 class="text-info">Create Your Account</h2>
            <p>Join Dreamy Duo Designs today!</p>
          </div>
          <form>
            <div class="mb-3"><label class="form-label" for="code">Access Code</label>  <input class="form-control item" type="text"  name="code"  id="inputCode" maxlength="30" required></div>
            <div class="mb-3"><label class="form-label" for="name">First & Last Name</label>   <input class="form-control item" type="text"  name="name"  id="inputName" maxlength="30" required></div>
            <div class="mb-3"><label class="form-label" for="email">Email</label>       <input class="form-control item" type="email" name="email" id="inputEmail" maxlength="100" required></div>
            <div class="mb-3"><label class="form-label" for="password">Password</label><input class="form-control item" type="password" name="password" id="inputPassword" maxlength="100" required></div>
            <button type="button" class="btn btn-primary" onclick="createUserAccount()">Create Account</button>
            <div id="alertCreate"></div>
            <br>
            <a href="/login">Sign in</a>
          </form>
        </div>
    </section>
  </main>

  <%- include('./footer_logged_out') %>
  <script type="text/javascript" src="../javascripts/register.js?v=1.0.1"></script>
</body>
</html>
